<div class="technical-events">
    <div class="heading">
        <h1>Technical Events</h1>
    </div>
    <div class="event-list">
        <div class="event event-1">
            <img src="../../../assets/Event-logo/GenZThesis.webp" />
            <div class="event-details">
                <h1 class="event-name">GenZ Thesis</h1>
                <div class="btn">
                    <button routerLink="/genzthesis"><a>Read More</a></button>
                </div>
            </div>
        </div>
        <div class="event event-2">
            <img src="../../../assets/Event-logo/IQFusion.webp" />
            <div class="event-details">
                <h1 class="event-name">IQ Fusion</h1>
                <div class="btn">
                    <button routerLink="/iqfusion"><a>Read More</a></button>
                </div>
            </div>
        </div>
        <div class="event event-3">
            <img src="../../../assets/Event-logo/AmongCoders.webp" />
            <div class="event-details">
                <h1 class="event-name">Among Coders</h1>
                <div class="btn">
                    <button routerLink="/amongcoders"><a>Read More</a></button>
                </div>
            </div>
        </div>
        <div class="event event-4">
            <img src="../../../assets/Event-logo/EyeOnAI.webp" />
            <div class="event-details">
                <h1 class="event-name">Eye On AI</h1>
                <div class="btn">
                    <button routerLink="/eyeonai"><a>Read More</a></button>
                </div>
            </div>
        </div>
        <div class="event event-5">
            <img src="../../../assets/Event-logo/TheGridVortex.webp" />
            <div class="event-details">
                <h1 class="event-name">The Grid Vortex</h1>
                <div class="btn">
                    <button routerLink="/thegridvortex"><a>Read More</a></button>
                </div>
            </div>
        </div>
    </div>