<div class="technical-events">
    <div class="heading">
        <h1>Technical Events</h1>
    </div>
    <div class="event-list">
        <div class="event event-1">
            <img src="../../../assets/Event-logo/GenZThesis.jpg" alt="">
            <div class="event-details">
                <h1 class="event-name">GenZ Thesis</h1>
                <div class="btn">
                    <button><a href="">Read More</a></button>
                </div>
            </div>
        </div>
        <div class="event event-2">
            <img src="../../../assets/Event-logo/IQFusion.png" />
            <div class="event-details">
                <h1 class="event-name">IQ Fusion</h1>
                <div class="btn">
                    <button><a href="">Read More</a></button>
                </div>
            </div>
        </div>
        <div class="event event-3">
            <img src="../../../assets/Event-logo/AmongCoders.png" />
            <div class="event-details">
                <h1 class="event-name">Among Coders</h1>
                <div class="btn">
                    <button><a href="">Read More</a></button>
                </div>
            </div>
        </div>
        <div class="event event-4">
            <img src="../../../assets/Event-logo/EyeOnAI.png" />
            <div class="event-details">
                <h1 class="event-name">Eye On AI</h1>
                <div class="btn">
                    <button><a href="">Read More</a></button>
                </div>
            </div>
        </div>
        <div class="event event-5">
            <img src="../../../assets/Event-logo/TheGridVortex.png" />
            <div class="event-details">
                <h1 class="event-name">The Grid Vortex</h1>
                <div class="btn">
                    <button><a href="">Read More</a></button>
                </div>
        </div>
    </div>
</div>