<div class="technical-events">
    <div class="heading">
        <h1>Technical Events</h1>
    </div>
    <div class="event-list">
        <div class="event event-1">
            <img src="../../../assets/College-details/College.jpg" alt="">
            <div class="event-details">
                <h1 class="event-name">Coding and Debugging</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores eius quibusdam atque consequuntur necessitatibus accusantium sit cumque similique tempore repellendus?</p>

                <div class="btn">
                    <button><a href="">Register Now</a></button>
                </div>
            </div>
            <div class="strip">
                    <h1 class="event-name">Coding and Debugging</h1>
            </div>
        </div>
        <div class="event event-2">
            <img src="../../../assets/College-details/College.jpg" alt="">
            <div class="event-details">
                <h1 class="event-name">Coding and Debugging</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores eius quibusdam atque consequuntur necessitatibus accusantium sit cumque similique tempore repellendus?</p>

                <div class="btn">
                    <button><a href="">Register Now</a></button>
                </div>
            </div>
            <div class="strip">
                    <h1 class="event-name">Coding and Debugging</h1>
            </div>
        </div>
        <div class="event event-3">
            <img src="../../../assets/College-details/College.jpg" alt="">
            <div class="event-details">
                <h1 class="event-name">Coding and Debugging</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores eius quibusdam atque consequuntur necessitatibus accusantium sit cumque similique tempore repellendus?</p>

                <div class="btn">
                    <button><a href="">Register Now</a></button>
                </div>
            </div>
            <div class="strip">
                    <h1 class="event-name">Coding and Debugging</h1>
            </div>
        </div>
        <div class="event event-4">
            <img src="../../../assets/College-details/College.jpg" alt="">
            <div class="event-details">
                <h1 class="event-name">Coding and Debugging</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores eius quibusdam atque consequuntur necessitatibus accusantium sit cumque similique tempore repellendus?</p>

                <div class="btn">
                    <button><a href="">Register Now</a></button>
                </div>
            </div>
            <div class="strip">
                    <h1 class="event-name">Coding and Debugging</h1>
            </div>
        </div>
        <div class="event event-5">
            <img src="../../../assets/College-details/College.jpg" alt="">
            <div class="event-details">
                <h1 class="event-name">Coding and Debugging</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores eius quibusdam atque consequuntur necessitatibus accusantium sit cumque similique tempore repellendus?</p>

                <div class="btn">
                    <button><a href="">Register Now</a></button>
                </div>
            </div>
            <div class="strip">
                    <h1 class="event-name">Coding and Debugging</h1>
            </div>
        </div>
    </div>
</div>