.technical-events {
    margin: 50px 10%;
    text-align: center;
}

.heading {
    color: white;

    h1 {
        font-size: 50px;
    }
}

.event-list {
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.event {
    height: 300px;
    width: 300px;
    border: none;
    overflow: hidden;
    backdrop-filter: blur(0px) saturate(200%);
    -webkit-backdrop-filter: blur(0px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.3);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.125);

    img {
        position: relative;
        z-index: -1;
        transition: 1s;
        scale: 1.1;
        height: 300px;
        width: 300px;
    }
}

.event:hover {
    img {
        filter: blur(4px);
        transform: rotateZ(-15deg);
        scale: 2;
    }

    .event-details {
        display: block;
    }

}

.event-details {
    margin: 20px;
    display: none;
    position: absolute;
    color: black;
    top: 10px;
    z-index: 999;

    h1 {
        animation: fade-in 0.5s ease-in;
    }

    p {
        animation: fade-in 0.5s ease-in;
        margin-top: 30px;
    }

    .btn {
        animation: fade-in 0.5s ease-in;
        margin-top: 20px;

        button {
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            a {
                color: black;
                text-decoration: none;
            }
        }

        button:hover {
            background-color: black;
        }
    }
}


@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}