.heading {
    color: white;
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    animation: fade 1s linear forwards;
}

@keyframes fade {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}