<app-header></app-header>
<div class="container">
    <main class="main-container">
        <div class="left">
            <div class="heading">
                <h1>Crescendo Arena</h1>
            </div>
            <div class="line line-1"></div>
            <div class="description">
                <p>Get ready for Crescendo Arena – the ultimate music battle is a vibrantmusic challenge that celebrates
                    rhythm, harmony, and creative expression. With three engaging rounds, participants will explore
                    different aspects of music, from quick recall to collaborative performance. Each round strikes a new
                    note, keeping the energy high and the competition exciting.</p>
            </div>
            <div class="line"></div>
            <div class="event-structure">
                <div class="fixtures">

                    <!-- Round 1 -->
                    
                    <h1>Round 1: Lip Loop</h1>
                    <p class="txt">The first stage of Crescendo Arena, where teams collaborate to showcase their musical
                        knowledge. From identifying tunes to recalling artists, genres, and lyrics, this round
                        challenges participants to think fast and work together. Coordination within the team plays a
                        key role, as every answer contributes to their score.</p>
                    <ul>
                        <div class="liner"></div>
                        <h3>Round Format</h3>
                        <div class="liner"></div>
                        <li><b>Mode : </b>Interactive chain activity</li>
                        <li><b>Task : </b>Pass the given lyrics through lip reading</li>
                        <li><b>Team Size : </b> Must contain only 3 members (1 or 2 members are not allowed)</li>
                        <li><b>Focus Areas : </b>observation,expression ,accuracy of the lyrics</li>
                    </ul>
                    <ul>
                        <div class="liner"></div>
                        <h3>Rules & Guidelines</h3>
                        <div class="liner"></div>
                        <li>All participants must wear headphones with music playing during the round,except the one who
                            is standing at the front</li>
                        <li>Restriction – Lyrics must be passed only through lip movements, without speaking or using
                            gestures.</li>
                        <li>The phrase/lyrics must be passed along the team in sequence, without skipping members.</li>
                        <li>The final participant must say the phrase aloud for evaluation.</li>
                        <li>Scoring is based on the accuracy of the lyrics conveyed at the end.</li>
                    </ul>
                    <div class="line"></div>
                    
                    <!-- Round 2 -->
                    
                    <h1>Round 2: Verse Voyage</h1>
                    <p class="txt">The second stage of Crescendo Arena, where teams face a visual lyrics challenge. This
                        round highlights memory, speed, and coordination, keeping the competition both fun and
                        challenging.</p>
                    <ul>
                        <div class="liner"></div>
                        <h3>Round Format</h3>
                        <div class="liner"></div>
                        <li><b>Mode : </b>Lyrics based</li>
                        <li><b>Task : </b>Fill in the blanks shown from given song lyrics</li>
                        <li><b>Buzzer System : </b>The first team to press the buzzer gets priority to answer</li>
                    </ul>
                    <ul>
                        <div class="liner"></div>
                        <h3>Rules & Guidelines</h3>
                        <div class="liner"></div>
                        <li>Each lyrics question with blanks will be displayed for a short time.</li>
                        <li>Teams must press the buzzer to gain the chance to answer.(first come first serve)</li>
                        <li>Use of external help or internet is strictly prohibited.</li>
                        <li>Correct answers score points; incorrect answers may lead to a pass to the next team.</li>
                        <li>Based on the scores in this round, top teams will be shortlisted. Only the highest scorers will qualify for the Final Round. This makes Verse Voyage the deciding stage for the finalists.</li>
                    </ul>

                    <!-- Round 3 -->

                    <h1>Round 3: Duet Clash</h1>
                    <p class="txt">The final round of Crescendo Arena, where teams face an ultimate test of musical recognition. Both audio and video clips of songs will be played, and participants must correctly identify the song.</p>
                    <ul>
                        <div class="liner"></div>
                        <h3>Round Format</h3>
                        <div class="liner"></div>
                        <li><b>Mode : </b>Audio-Video song to be guessed</li>
                        <li><b>Task : </b>Identify the correct song from the given audio and video clips</li>
                        <li><b>Buzzer System : </b>The first team to press the buzzer gets priority to answer</li>
                    </ul>
                    <ul>
                        <div class="liner"></div>
                        <h3>Rules & Guidelines</h3>
                        <div class="liner"></div>
                        <li>Each question will contain an overlapping audio track and video clip.</li>
                        <li>Teams must identify both the audio and video songs to score points.</li>
                        <li>Partial answers (only audio or only video) will not be awarded full points.</li>
                        <li>Teams must press the buzzer to gain the chance to answer.</li>
                        <li>Priority goes to the team that presses the buzzer first.</li>
                        <li>No external help (phones, internet, notes) is allowed.</li>
                        <li>The team with the maximum correct dual identifications will be declared the champions of Crescendo Arena.</li>
                        <li>After the final round, champions of Crescendo Arena will be crowned, while every participant will be honored with a certificate of participation.Step into the spotlight, embrace the rhythm, and let your talent shine at Crescendo Arena!</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right">
            <img src="../../../assets/Poster/CrescendoArena.jpg" />
            <div class="btn">
                <a href=""><button>Register Now</button></a>
            </div>
        </div>
    </main>
    <div class="line"></div>
</div>