<div class="container">
    <div class="left">
        <div class="header">
            <div class="event-name">
                <h1>Crescendo Arena</h1>
            </div>
        </div>
        <div class="line"></div>
        <div class="body">
            <div class="concept">
                <div class="line-white"></div>
                <p><i>Get ready for Crescendo Arena – the ultimate music battle is a vibrantmusic challenge that
                        celebrates rhythm, harmony, and creative expression. Withthree engaging rounds, participants
                        will explore different aspects of music, fromquick recall to collaborative performance. Each
                        round strikes a new note, keeping theenergy high and the competition exciting.</i></p>
                <div class="line-white"></div>
            </div>
            <div class="event-structure">
                <div class="head">
                    <h1>Event Structure</h1>
                </div>
                <div class="round-1">
                    <div class="round-header">
                        <h2>Round 1 : Lip Loop</h2>
                        <p><i>The first stage of Crescendo Arena, where teams collaborate to showcasetheir musical
                                knowledge. From identifying tunes to recalling artists, genres, andlyrics, this round
                                challenges participants to think fast and work together.Coordination within the team
                                plays a key role, as every answer contributes totheir score.</i></p>
                    </div>
                    <div class="round-format">
                        <h3>Round Format</h3>
                        <ul>
                            <li><b> Mode: </b>Interactive chain activity</li>
                            <li><b> Task : </b>: pass the given lyrics through lip reading </li>
                            <li><b> Team size :</b> must contain 3 members</li>
                            <li><b> Focus Areas:</b> observation,expression ,accuracy of the lyrics</li>
                        </ul>
                    </div>
                    <div class="rules">
                        <h3>Rules & Guidelines</h3>
                        <ul>
                            <li>All participants must wear headphones with music playing during the round,except the one
                                who is standing at the front</li>
                            <li><b>Restriction</b> – Lyrics must be passed only through lip movements, without speaking
                                or using gestures.</li>
                            <li>The phrase/lyrics must be passed along the team in sequence, without skipping members.
                            </li>
                            <li>The final participant must say the phrase aloud for evaluation.</li>
                            <li>Scoring is based on the accuracy of the lyrics conveyed at the end.</li>
                        </ul>
                    </div>
                </div>
                <div class="line-white"></div>
                <div class="round-2">
                    <div class="round-header">
                        <h2>Round 2 : Verse Voyage</h2>
                        <p><i>The second stage of Crescendo Arena, where teams face a visual lyricschallenge. This round
                                highlights memory, speed, and coordination, keeping thecompetition both fun and
                                challenging.</i></p>
                    </div>
                    <div class="round-format">
                        <h3>Round Format</h3>
                        <ul>
                            <li><b> Mode : </b>lyrics based</li>
                            <li><b> Task : </b>fill in the blanks shown from given song lyrics</li>
                            <li><b> Team Size :</b> must contain 3 members</li>
                            <li><b> Buzzer System :</b> The first team to press the buzzer gets priority to answer.</li>
                        </ul>
                    </div>
                    <div class="rules">
                        <h3>Rules & Guidelines</h3>
                        <ul>
                            <li>Each lyrics question with blanks will be displayed for a short time</li>
                            <li>Teams must press the buzzer to gain the chance to answer.(first come first serve)</li>
                            <li>Participants are not allowed to use external resources like the internet, generative AI,
                                or outside help. </li>
                            <li>Use of external help or internet is strictly prohibited.</li>
                            <li>Correct answers score points; incorrect answers may lead to a pass to the next team.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="round-3">
                    <div class="round-header">
                        <h2>Round 2 : Duet Clash</h2>
                        <p><i>The final round of Crescendo Arena, where teams face an ultimate test ofmusical
                                recognition. Both audio and video clips of songs will be played, andparticipants must
                                correctly identify the song.</i></p>
                    </div>
                    <div class="round-format">
                        <h3>Round Format</h3>
                        <ul>
                            <li><b> Mode : </b>Audio-Video song to be guessed</li>
                            <li><b> Task : </b>Identify the correct song from the given audio and video clips</li>
                            <li><b> Buzzer System :</b> The first team to press the buzzer gets priority to answer.</li>
                        </ul>
                    </div>
                    <div class="rules">
                        <h3>Rules & Guidelines</h3>
                        <ul>
                            <li>Each question will contain an overlapping audio track and video clip.</li>
                            <li>Teams must identify both the audio and video songs to score points.</li>
                            <li>Partial answers (only audio or only video) will not be awarded full points.</li>
                            <li>Teams must press the buzzer to gain the chance to answer.</li>
                            <li>Priority goes to the team that presses the buzzer first.</li>
                            <li>No external help (phones, internet, notes) is allowed.</li>
                            <li>The team with the maximum correct dual identifications will be declared the champions
                                ofCrescendo Arena.</li>
                        </ul>
                    </div>
                </div>
                <div class="end-card">
                    <div class="line-white"></div>
                    <p><i>After the final round, champions of Crescendo Arena will be crowned, whileevery participant
                            will be honored with a certificate of participation. Step into thespotlight, embrace the
                            rhythm, and let your talent shine at Crescendo Arena!</i></p>
                    <div class="line-white"></div>
                </div>
            </div>
            <div class="register-button">
                <a href="https://forms.gle/esr3Ro6UQ87unApXA">
                    <button>Register Now</button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="right">
    <img src="../../../assets/Poster/CrescendoArena.webp" />
</div>