<div class="open">
    <div class="title">
        <h1 class="title-text title-text-1">T</h1>
        <h1 class="title-text title-text-2">e</h1>
        <h1 class="title-text title-text-3">c</h1>
        <h1 class="title-text title-text-4">m</h1>
        <h1 class="title-text title-text-5">a</h1>
        <h1 class="title-text title-text-6">t</h1>
        <h1 class="title-text title-text-7">e</h1>
        <h1 class="title-text title-text-8">-</h1>
        <h1 class="title-text title-text-9">2</h1>
        <h1 class="title-text title-text-10">.</h1>
        <h1 class="title-text title-text-11">0</h1>
    </div>
    <div class="sub-text">
        <h1 id="scramble-text"></h1>
    </div>
    <div class="register">
        <button><a routerLink="/events">Check Events</a></button>
    </div>
</div>