<div class="loader-wrapper" *ngIf="isLoading">
    <div class="title">
        <h1 class="title-text title-text-1">T</h1>
        <h1 class="title-text title-text-2">E</h1>
        <h1 class="title-text title-text-3">C</h1>
        <h1 class="title-text title-text-4">M</h1>
        <h1 class="title-text title-text-5">A</h1>
        <h1 class="title-text title-text-6">T</h1>
        <h1 class="title-text title-text-7">E</h1>
        <h1 class="title-text title-text-8">-</h1>
        <h1 class="title-text title-text-9">2</h1>
        <h1 class="title-text title-text-10">.</h1>
        <h1 class="title-text title-text-11">0</h1>
    </div>
    <div class="load">
        <div class="filler"></div>
    </div>
    <div class="counter"> loading...{{ counter }}%</div>

</div>