<div class="container">
    <div class="left">
        <div class="header">
            <div class="event-name">
                <h1>GenZ Thesis</h1>
            </div>
        </div>
        <div class="line"></div>
        <div class="body">
            <div class="concept">
                <div class="line-white"></div>
                <p><i>Step into GenZ thesis, a dynamic paper presentation event designed to inspire innovation, research excellence, and technical creativity. It provides a platform for aspiring engineers to express their ideas and insights on emerging technologies through impactful PowerPoint presentations. GenZ thesis aims to nurture analytical thinking, presentation skills, and a passion for discovery among future innovators.</i></p>
                <div class="line-white"></div>
            </div>
            <div class="event-structure">
                <div class="head">
                    <h1><u>Event Structure</u></h1>
                </div>
                <div class="round-1">
                    <div class="rules">
                        <h3><u>Rules & Guidelines</u></h3>
                        <ul>
                            <li>Each team must consist of 3 members only.</li>
                            <li>Participants must select one domain from the list provided by the organizing committee.
                            </li>
                            <li>The total presentation time is 5 minutes — 3 minutes for explanation and 2 minutes for jury questions.</li>
                            <li> Participants must submit their PPT on or before November 3</li>
                            <li>Only shortlisted participants will be permitted to present during the event.</li>
                            <li>The presentation must be original and free from plagiarism.</li>
                            <li>Teams should ensure the content is clear, relevant, and technically sound.</li>
                            <li>Any form of malpractice or external assistance during presentation will lead to
                                disqualification.</li>
                            <li>The decision of the jury panel will be final.</li>
                        </ul>
                    </div>
                </div>
                <div class="line-white"></div>
                <div class="round-2">
                    <div class="round-format">
                        <h3><u>Judging Criteria</u></h3>
                        <ul>
                            <li>Relevance to selected domain</li>
                            <li>Innovation and originality</li>
                            <li>Clarity and organization of presentation</li>
                            <li>Technical content and depth</li>
                            <li>Communication skills and Q&A performance</li>
                        </ul>
                    </div>

                </div>
                <div class="end-card">
                    <div class="line-white"></div>
                    <p><i>Winners will be awarded certificates and cash prizes. All other participants will receive participation certificates as a token of appreciation for their effort and enthusiasm.</i></p>
                    <div class="line-white"></div>
                </div>
            </div>
            <div class="register-button">
                <a href="https://forms.gle/qF7TQpbpr6mm9KBq8">
                    <button>
                        Register Now
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="right">
    <img src="../../../assets/Poster/GenZThesis.webp" />
</div>