<div class="technical-events">
    <div class="heading">
        <h1>Non - Technical Events</h1>
    </div>
    <div class="event-list">
        <div class="event event-1">
            <img src="../../../assets/Event-logo/Booyah Blitz.png" />
            <div class="event-details">
                <h1 class="event-name">Booyah Blitz</h1>
                <div class="btn">
                    <button routerLink="/booyahblitz"><a>Read More</a></button>
                </div>
            </div>
        </div>
        <div class="event event-3">
            <img src="../../../assets/Event-logo/CrescendoArena.jpg" />
            <div class="event-details">
                <h1 class="event-name">Crescendo Arena</h1>
                <div class="btn">
                    <button routerLink="/crescendoarena"><a>Read More</a></button>
                </div>
            </div>
        </div>
        <div class="event event-5">
            <img src="../../../assets/Event-logo/ClueXpress.jpg" />
            <div class="event-details">
                <h1 class="event-name">ClueXpress</h1>
                <div class="btn">
                    <button routerLink="/cluexpress"><a>Read More</a></button>
                </div>
        </div>
    </div>
</div>