<div class="technical-events">
    <div class="heading">
        <h1>Non - Technical Events</h1>
    </div>
    <div class="event-list">
        <div class="event event-1">
            <img src="../../../assets/Event-logo/GenZThesis.jpg" alt="">
            <div class="event-details">
                <h1 class="event-name">Booyah Blitz</h1>
                <div class="btn">
                    <button><a href="">Read More</a></button>
                </div>
            </div>
        </div>
        <div class="event event-2">
            <img src="../../../assets/Event-logo/IQFusion.png" />
            <div class="event-details">
                <h1 class="event-name">Click Clash</h1>
                <div class="btn">
                    <button><a href="">Read More</a></button>
                </div>
            </div>
        </div>
        <div class="event event-3">
            <img src="../../../assets/Event-logo/" />
            <div class="event-details">
                <h1 class="event-name">Flick Fables</h1>
                <div class="btn">
                    <button><a href="">Read More</a></button>
                </div>
            </div>
        </div>
        <div class="event event-4">
            <img src="../../../assets/Event-logo/Flim Frenzy.jpg" />
            <div class="event-details">
                <h1 class="event-name">Filmy Frenzy</h1>
                <div class="btn">
                    <button><a href="">Read More</a></button>
                </div>
            </div>
        </div>
        <div class="event event-5">
            <img src="../../../assets/Event-logo/ClueXpress.jpg" />
            <div class="event-details">
                <h1 class="event-name">ClueXpress</h1>
                <div class="btn">
                    <button><a href="">Read More</a></button>
                </div>
        </div>
    </div>
</div>