<div class="leadership-team">

    <div class="heading">
        <h1>Pride of Tecmate</h1>
    </div>
    <div class="organisers">
        <div class="align">
            <div class="col col-1">
                <div class="card card-1">
                    <div class="image">
                        <img src="../../../assets/Pride/HOD.jpg" />
                    </div>
                    <div class="details">
                        <div class="card-name">
                            <h1>Dr. P. B. Edwin Prabhakar</h1>
                        </div>
                        <div class="card-designation">
                            <h2>Head of the Department / CSE</h2>
                        </div>
                    </div>
                </div>
                <div class="card card-2">
                    <div class="image">
                        <img src="../../../assets/Pride/Anita Sofia Liz.jpg" />
                    </div>
                    <div class="details">
                        <div class="card-name">
                            <h1>Mrs. Anita Sofia Liz</h1>
                        </div>
                        <div class="card-designation">
                            <h2>Assistant Professor / CSE</h2>
                        </div>
                    </div>
                </div>
                <div class="card card-3">
                    <div class="image"></div>
                    <div class="details">
                        <div class="card-name">
                            <h1>Mrs. P. Kavitha</h1>
                        </div>
                        <div class="card-designation">
                            <h2>Assistant Professor / CSE</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-2">
                <div class="card card-4">
                    <div class="image">
                        <img src="../../../assets/Pride/Rishi.jpg" />
                    </div>
                    <div class="details">
                        <div class="card-name">
                            <h1>Rishab Anandan J</h1>
                        </div>
                        <div class="card-designation">
                            <h2>President</h2>
                            <h2>Final Year / CSE</h2>
                        </div>
                        <div class="card-contact">
                            <h2><fa-icon [icon]="phone"></fa-icon> +91 98765 43210</h2>
                        </div>
                    </div>
                </div>
                <div class="card card-5">
                    <div class="image"></div>
                    <div class="details">
                        <div class="card-name">
                            <h1>Selva Srika R</h1>
                        </div>
                        <div class="card-designation">
                            <h2>Secretary</h2>
                            <h2>Final Year / CSE</h2>
                        </div>
                        <div class="card-contact">
                            <h2><fa-icon [icon]="phone"></fa-icon> +91 98765 43210</h2>
                        </div>
                    </div>
                </div>
                <div class="card card-6">
                    <div class="outline">
                        <div class="image"></div>
                        <div class="details">
                            <div class="card-name">
                                <h1>Thilak</h1>
                            </div>
                            <div class="card-designation">
                                <h2>Vice President</h2>
                                <h2>Third Year / CSE</h2>
                            </div>
                            <div class="card-contact">
                                <h2><fa-icon [icon]="phone"></fa-icon> +91 98765 43210</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="align">
            <div class="col col-3">
                <div class="card card-7">
                    <div class="image"></div>
                    <div class="details">
                        <div class="card-name">
                            <h1>Oru Ponnu</h1>
                        </div>
                        <div class="card-designation">
                            <h2>Third Year / CSE</h2>
                            <h2>Joint Secretary</h2>
                        </div>
                        <div class="card-contact">
                            <h2><fa-icon [icon]="phone"></fa-icon> +91 98765 43210</h2>
                        </div>
                    </div>
                </div>
                <div class="card card-8">
                    <div class="image">
                        <img src="../../../assets/Pride/Muthupandi.jpg" />
                    </div>
                    <div class="details">
                        <div class="card-name">
                            <h1>Nalayiramuthupandian B</h1>
                        </div>
                        <div class="card-designation">
                            <h2>Event Coordinater</h2>
                            <h2>Final Year / CSE</h2>
                        </div>
                        <div class="card-contact">
                            <h2><fa-icon [icon]="phone"></fa-icon> +91 6379648436</h2>
                        </div>
                    </div>
                </div>
                <div class="card card-9">
                    <div class="outline">
                        <div class="image"></div>
                        <div class="details">
                            <div class="card-name">
                                <h1>Sasi Kumar D</h1>
                            </div>
                            <div class="card-designation">
                                <h2>Treasurer</h2>
                                <h2>Final Year / CSE</h2>
                            </div>
                            <div class="card-contact">
                                <h2><fa-icon [icon]="phone"></fa-icon> +91 98765 43210</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-4">
                <div class="card card-10">
                    <div class="image"></div>
                    <div class="details">
                        <div class="card-name">
                            <h1>Praveen Kumar</h1>
                        </div>
                        <div class="card-designation">
                            <h2>Event Organiser</h2>
                            <h2>Final Year / CSE</h2>
                        </div>
                        <div class="card-contact">
                            <h2><fa-icon [icon]="phone"></fa-icon> +91 98765 43210</h2>
                        </div>
                    </div>
                </div>
                <div class="card card-11">
                    <div class="image">
                        <img src="../../../assets/Pride/Muthupandi.jpg" />
                    </div>
                    <div class="details">
                        <div class="card-name">
                            <h1>Jenovas D A</h1>
                        </div>
                        <div class="card-designation">
                            <h2>Event Manager</h2>
                            <h2>Final Year / CSE</h2>
                        </div>
                        <div class="card-contact">
                            <h2><fa-icon [icon]="phone"></fa-icon> +91 6379648436</h2>
                        </div>
                    </div>
                </div>
                <div class="card card-12">
                    <div class="outline">
                        <div class="image"></div>
                        <div class="details">
                            <div class="card-name">
                                <h1>Sasi Kumar D</h1>
                            </div>
                            <div class="card-designation">
                                <h2>Treasurer</h2>
                                <h2>Final Year / CSE</h2>
                            </div>
                            <div class="card-contact">
                                <h2><fa-icon [icon]="phone"></fa-icon> +91 98765 43210</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




























































    <div class="heading">
        <h1>Event Organisers</h1>
    </div>
    <div class="event-organisers organisers">
        <div class="align">
            <div class="sub-heading">
            <h1>Technical Coordinators</h1>
        </div>
            <div class="col col-1">
                <div class="card card-1">
                    <div class="image">
                        <img src="../../../assets/Pride/HOD.jpg" />
                    </div>
                    <div class="details">
                        <div class="card-name">
                            <h1>Dr. P. B. Edwin Prabhakar</h1>
                        </div>
                        <div class="card-designation">
                            <h2>Head of the Department / CSE</h2>
                        </div>
                    </div>
                </div>
                <div class="card card-2">
                    <div class="image">
                        <img src="../../../assets/Pride/Anita Sofia Liz.jpg" />
                    </div>
                    <div class="details">
                        <div class="card-name">
                            <h1>Mrs. Anita Sofia Liz</h1>
                        </div>
                        <div class="card-designation">
                            <h2>Assistant Professor / CSE</h2>
                        </div>
                    </div>
                </div>
                <div class="card card-3">
                    <div class="image"></div>
                    <div class="details">
                        <div class="card-name">
                            <h1>Mrs. P. Kavitha</h1>
                        </div>
                        <div class="card-designation">
                            <h2>Assistant Professor / CSE</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-2">
                <div class="card card-4">
                    <div class="image">
                        <img src="../../../assets/Pride/Rishi.jpg" />
                    </div>
                    <div class="details">
                        <div class="card-name">
                            <h1>Rishab Anandan J</h1>
                        </div>
                        <div class="card-designation">
                            <h2>President</h2>
                            <h2>Final Year / CSE</h2>
                        </div>
                        <div class="card-contact">
                            <h2><fa-icon [icon]="phone"></fa-icon> +91 98765 43210</h2>
                        </div>
                    </div>
                </div>
                <div class="card card-5">
                    <div class="image"></div>
                    <div class="details">
                        <div class="card-name">
                            <h1>Selva Srika R</h1>
                        </div>
                        <div class="card-designation">
                            <h2>Secretary</h2>
                            <h2>Final Year / CSE</h2>
                        </div>
                        <div class="card-contact">
                            <h2><fa-icon [icon]="phone"></fa-icon> +91 98765 43210</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub-heading">
            <h1>Non - Technical Coordinators</h1>
        </div>
        <div class="align">
            <div class="col col-3">
                <div class="card card-7">
                    <div class="image"></div>
                    <div class="details">
                        <div class="card-name">
                            <h1>Oru Ponnu</h1>
                        </div>
                        <div class="card-designation">
                            <h2>Third Year / CSE</h2>
                            <h2>Joint Secretary</h2>
                        </div>
                        <div class="card-contact">
                            <h2><fa-icon [icon]="phone"></fa-icon> +91 98765 43210</h2>
                        </div>
                    </div>
                </div>
                <div class="card card-8">
                    <div class="image">
                        <img src="../../../assets/Pride/Muthupandi.jpg" />
                    </div>
                    <div class="details">
                        <div class="card-name">
                            <h1>Nalayiramuthupandian B</h1>
                        </div>
                        <div class="card-designation">
                            <h2>Event Coordinater</h2>
                            <h2>Final Year / CSE</h2>
                        </div>
                        <div class="card-contact">
                            <h2><fa-icon [icon]="phone"></fa-icon> +91 6379648436</h2>
                        </div>
                    </div>
                </div>
                <div class="card card-9">
                    <div class="outline">
                        <div class="image"></div>
                        <div class="details">
                            <div class="card-name">
                                <h1>Sasi Kumar D</h1>
                            </div>
                            <div class="card-designation">
                                <h2>Treasurer</h2>
                                <h2>Final Year / CSE</h2>
                            </div>
                            <div class="card-contact">
                                <h2><fa-icon [icon]="phone"></fa-icon> +91 98765 43210</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-4">
                <div class="card card-10">
                    <div class="image"></div>
                    <div class="details">
                        <div class="card-name">
                            <h1>Praveen Kumar</h1>
                        </div>
                        <div class="card-designation">
                            <h2>Event Organiser</h2>
                            <h2>Final Year / CSE</h2>
                        </div>
                        <div class="card-contact">
                            <h2><fa-icon [icon]="phone"></fa-icon> +91 98765 43210</h2>
                        </div>
                    </div>
                </div>
                <div class="card card-11">
                    <div class="image">
                        <img src="../../../assets/Pride/Muthupandi.jpg" />
                    </div>
                    <div class="details">
                        <div class="card-name">
                            <h1>Jenovas D A</h1>
                        </div>
                        <div class="card-designation">
                            <h2>Event Manager</h2>
                            <h2>Final Year / CSE</h2>
                        </div>
                        <div class="card-contact">
                            <h2><fa-icon [icon]="phone"></fa-icon> +91 6379648436</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
