<div class="leadership-team">
    <div class="department">
        <div class="group-heading">
            <h1>Department Of Computer Science and Engineering</h1>
        </div>
        <div class="group-image">
            <img src="../../../assets/College-details/College.jpg" alt="">
        </div>
    </div>

    <div class="heading">
        <h1>Prides of Tecmate</h1>
    </div>
    <div class="organisers">
        <div class="align">
            <div class="col col-1">
                <div class="card card-1">
                    <div class="image">
                        <img src="../../../assets/Pride/HOD.jpg" />
                    </div>
                    <div class="details">
                        <div class="card-name">
                            <h1>Dr. P. B. Edwin Prabhakar</h1>
                        </div>
                        <div class="card-designation">
                            <h2>Head of Department / CSE</h2>
                        </div>
                    </div>
                </div>
                <div class="card card-2">
                    <div class="image">
                        <img src="../../../assets/Pride/Anita Sofia Liz.jpg" />
                    </div>
                    <div class="details">
                        <div class="card-name">
                            <h1>Mrs. Anita Sofia Liz</h1>
                        </div>
                        <div class="card-designation">
                            <h2>Staff Coordinator</h2>
                            <h2>Assistant Professor / CSE</h2>
                        </div>
                    </div>
                </div>
                <div class="card card-3">
                    <div class="image">
                        <img src="../../../assets/Pride/Kavita.jpg" />
                    </div>
                    <div class="details">
                        <div class="card-name">
                            <h1>Mrs. P. Kavitha</h1>
                        </div>
                        <div class="card-designation">
                            <h2>Assistant Staff Coordinator</h2>
                            <h2>Assistant Professor / CSE</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-2">
                <div class="card card-4">
                    <div class="image">
                        <img src="../../../assets/Pride/Rishi.jpg" />
                    </div>
                    <div class="details">
                        <div class="card-name">
                            <h1>Rishab Anandan J</h1>
                        </div>
                        <div class="card-designation">
                            <h2>President</h2>
                            <h2>Final Year / CSE</h2>
                        </div>
                        <div class="card-contact">
                            <h2><fa-icon [icon]="phone"></fa-icon> +91 95972 59953</h2>
                        </div>
                    </div>
                </div>
                <div class="card card-5">
                    <div class="outline">
                        <div class="image">
                            <img src="../../../assets/Pride/Thilak.jpg" />
                        </div>
                        <div class="details">
                            <div class="card-name">
                                <h1>Thilak M</h1>
                            </div>
                            <div class="card-designation">
                                <h2>Vice President</h2>
                                <h2>Third Year / CSE</h2>
                            </div>
                            <div class="card-contact">
                                <h2><fa-icon [icon]="phone"></fa-icon> +91 97508 12812</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-6">
                    <div class="outline">
                        <div class="image">
                            <img src="../../../assets/Pride/Jenovas.jpg" />
                        </div>
                        <div class="details">
                            <div class="card-name">
                                <h1>Jenovas D A</h1>
                            </div>
                            <div class="card-designation">
                                <h2>Technical Support</h2>
                                <h2>Final Year / CSE</h2>
                            </div>
                            <div class="card-contact">
                                <h2><fa-icon [icon]="phone"></fa-icon> +91 73973 00516</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="align">
            <div class="col col-3">
                <div class="card card-7">
                    <div class="image">
                        <img src="../../../assets/Pride/Srika.jpg" />
                    </div>
                    <div class="details">
                        <div class="card-name">
                            <h1>Selva Srika R</h1>
                        </div>
                        <div class="card-designation">
                            <h2>Secretary</h2>
                            <h2>Final Year / CSE</h2>
                        </div>
                    </div>
                </div>
                <div class="card card-8">
                    <div class="image">
                        <img src="../../../assets/Pride/Sivadharshini.jpg" />
                    </div>
                    <div class="details">
                        <div class="card-name">
                            <h1>Sivadharshini S</h1>
                        </div>
                        <div class="card-designation">
                            <h2>Joint Secretary</h2>
                            <h2>Third Year / CSE</h2>
                        </div>
                    </div>
                </div>
                <div class="card card-9">
                    <div class="outline">
                        <div class="image">
                            <img src="../../../assets/Pride/Sasi Kumar.jpg" />
                        </div>
                        <div class="details">
                            <div class="card-name">
                                <h1>Sasi Kumar D</h1>
                            </div>
                            <div class="card-designation">
                                <h2>Treasurer</h2>
                                <h2>Final Year / CSE</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-4">
                <div class="card card-10">
                    <div class="image">
                        <img src="../../../assets/Pride/Muthupandi.jpg" />
                    </div>
                    <div class="details">
                        <div class="card-name">
                            <h1>Nalayiramuthupandian B</h1>
                        </div>
                        <div class="card-designation">
                            <h2>Event Coordinator</h2>
                            <h2>Final Year / CSE</h2>
                        </div>
                    </div>
                </div>
                <div class="card card-11">
                    <div class="image">
                        <img src="../../../assets/Pride/Praveen Kumar.jpg" />
                    </div>
                    <div class="details">
                        <div class="card-name">
                            <h1>Praveen Kumar</h1>
                        </div>
                        <div class="card-designation">
                            <h2>Event Organiser</h2>
                            <h2>Final Year / CSE</h2>
                        </div>
                    </div>
                </div>
                <div class="card card-12">
                    <div class="image">
                        <img src="../../../assets/Pride/Madan.jpg" />
                    </div>
                    <div class="details">
                        <div class="card-name">
                            <h1>Madhan M</h1>
                        </div>
                        <div class="card-designation">
                            <h2>Event Manager</h2>
                            <h2>Final Year / CSE</h2>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="heading">
        <h1>Event Organisers</h1>
    </div>
    <div class="event-organisers organisers">
        <div class="sub-heading">
            <h1>Technical Coordinators</h1>
        </div>
        <div class="align">
            <div class="col col-1">
                <div class="card card-1">
                    <div class="image">
                        <img src="../../../assets/Pride/Nishanthini S.jpg" alt="">
                    </div>
                    <div class="details">
                        <div class="card-name">
                            <h1>Nishanthini S</h1>
                        </div>
                        <div class="card-designation">
                            <h2>GenZ Thesis</h2>
                            <h2>Paper Presentation</h2>
                        </div>
                    </div>
                </div>
                <div class="card card-2">
                    <div class="image">
                        <img src="../../../assets/Pride/Gowri R.jpg" />
                    </div>
                    <div class="details">
                        <div class="card-name">
                            <h1>Gowri R</h1>
                        </div>
                        <div class="card-designation">
                            <h2>IQ Fusion</h2>
                            <h2>Technical Quiz</h2>
                        </div>
                    </div>
                </div>
                <div class="card card-3">
                    <div class="image">
                        <img src="../../../assets/Pride/Justin.jpg" />
                    </div>
                    <div class="details">
                        <div class="card-name">
                            <h1>Justin A</h1>
                        </div>
                        <div class="card-designation">
                            <h2>Among Coders</h2>
                            <h2>Coding and Debugging</h2>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col col-2">
                <div class="card card-4">
                    <div class="image">
                        <img src="../../../assets/Pride/Sri Krishna.jpg" />
                    </div>
                    <div class="details">
                        <div class="card-name">
                            <h1>Sri Krishna R</h1>
                        </div>
                        <div class="card-designation">
                            <h2>Eye On AI</h2>
                            <h2>Artificial Intelligence</h2>
                        </div>
                    </div>
                </div>
                <div class="card card-5">
                    <div class="image">
                        <img src="../../../assets/Pride/Adithya R.jpg" />
                    </div>
                    <div class="details">
                        <div class="card-name">
                            <h1>Adithya R</h1>
                        </div>
                        <div class="card-designation">
                            <h2>The Grid Vortex</h2>
                            <h2>UI / UX</h2>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="sub-heading">
            <h1>Non - Technical Coordinators</h1>
        </div>
        <div class="align">
            <div class="col col-1">
                <div class="card card-1">
                    <div class="image">
                        <img src="../../../assets/Pride/Santhosh K.jpg" />
                    </div>
                    <div class="details">
                        <div class="card-name">
                            <h1>Santhosh K</h1>
                        </div>
                        <div class="card-designation">
                            <h2>Booyah Blitz</h2>
                            <h2>Free Fire</h2>
                        </div>
                    </div>
                </div>
                <div class="card card-4">
                    <div class="image">
                        <img src="../../../assets/Pride/Logeshwaran.jpg" />
                    </div>
                    <div class="details">
                        <div class="card-name">
                            <h1>Logeshwaran P</h1>
                        </div>
                        <div class="card-designation">
                            <h2>Click Clash</h2>
                            <h2>Photography</h2>
                        </div>
                    </div>
                </div>
                
                <div class="card card-3">
                    <div class="image">
                        <img src="../../../assets/Pride/Jayanth.jpg" />
                    </div>
                    <div class="details">
                        <div class="card-name">
                            <h1>Jayanth S</h1>
                        </div>
                        <div class="card-designation">
                            <h2>Crescendo Arena</h2>
                            <h2></h2>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col col-2">
                
                <div class="card card-5">
                    <div class="image">
                        <img src="../../../assets/Pride/Janitha.jpg" />
                    </div>
                    <div class="details">
                        <div class="card-name">
                            <h1>Janitha I</h1>
                        </div>
                        <div class="card-designation">
                            <h2>Filmy Frenzy</h2>
                            <h2></h2>
                        </div>
                    </div>
                </div>
                <div class="card card-2">
                    <div class="image">
                        <img src="../../../assets/Pride/Archana.jpg" />
                    </div>
                    <div class="details">
                        <div class="card-name">
                            <h1>Archana J</h1>
                        </div>
                        <div class="card-designation">
                            <h2>ClueXpress</h2>
                            <h2></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>