.large-header {
  position: fixed;   /* Fullscreen fixed background */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: -1;  /* Keep behind page contents */
}

#large-header {
  background: url(../../../assets/Background/bg.png);
}

canvas {
  display: block;
}
