<div class="container">
  <canvas #particleCanvas></canvas>
  <div class="heading">
    <h1>We'll meet you in</h1>
  </div>

  <div class="countdown">
    <div class="time-box time-box-1">
      <span>{{ days }}</span>
      <p>Days</p>
    </div>
    <div class="time-box time-box-2">
      <span>{{ hours }}</span>
      <p>Hours</p>
    </div>
    <div class="time-box time-box-3">
      <span>{{ minutes }}</span>
      <p>Minutes</p>
    </div>
    <div class="time-box time-box-4">
      <span>{{ seconds }}</span>
      <p>Seconds</p>
    </div>
  </div>

</div>