<app-header></app-header>
<div class="container">
    <div class="heading">
        <h1>Contact Us</h1>
    </div>
    <div class="wrapper">
        <div class="left">
            <div class="location">
                <!-- location.component.html -->
                <div class="map-wrapper">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3890.1234567890!2d80.165940!3d12.914772!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a525ea09cb2abf5%3A0x81ad80cde6aa3fef!2sNew%20Prince%20Shri%20Bhavani%20College%20Of%20Engineering%20%26%20Technology!5e0!3m2!1sen!2sin!4v169xxxxxxx"
                        width="400" height="300" style="border:0; border-radius:10px;" loading="lazy" allowfullscreen
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
            </div>
        </div>
        <div class="right">
            <h2>For Queries Contact</h2>
            <h3><b>Rishabanandan J - President</b></h3>
            <button><h2>Swipe Down to see Bus Route</h2></button>
        </div>
    </div>
</div>