<div class="container">
    <div class="heading">
        <h1>Overview</h1>
    </div>
    <div class="college">
        <div class="header">
            <img src="../../../assets/College-details/College logo.png" />
            <h1>New Prince Shri Bhavani College of Engineering and Technology</h1>
        </div>
        <div class="college-content">
            <div class="college-img">
                <img src="../../../assets/College-details/College.jpg" >
            </div>
            <div class="college-description">
                <p>New Prince Shri Bhavani College of Engineering and Technology, located in Chennai, Tamil Nadu, is a reputed institution dedicated to delivering quality technical education. It offers a variety of undergraduate and postgraduate programs in engineering and technology, emphasizing both innovation and practical learning. The college features modern infrastructure, well-equipped laboratories, and experienced faculty to ensure academic excellence. With a strong focus on holistic development, it actively promotes research, cultural participation, and industry collaboration to prepare students for successful careers.</p>
            </div>
        </div>
    </div>
</div>