<app-header></app-header>
<div class="container">
    <main class="main-container">
        <div class="left">
            <div class="heading">
                <h1>Filmy Frenzy</h1>
            </div>
            <div class="line line-1"></div>
            <div class="description">
                <p>Get ready for IQ Fusion – the ultimate quiz battle that will push your brainpower, speed, and
                    problem-solving to the limit! With two electrifying rounds ahead, each one will challenge different
                    sides of your knowledge and thinking skills.</p>
            </div>
            <div class="line"></div>
            <div class="event-structure">
                <div class="fixtures">
                    <h1>Round 1: Knowledge Sprint</h1>
                    <p class="txt">The opening stage of IQ Fusion, where your grasp of concepts, speed of thought, and accuracy will be challenged to the fullest!</p>
                    <ul>
                        <div class="liner"></div>
                        <h3>Round Format</h3>
                        <div class="liner"></div>
                        <li><b>Mode : </b>Written Quiz</li>
                        <li><b>Total Questions : </b>30 Multiple Choice Questions (MCQs)</li>
                        <li><b>Time Allotted : </b> 25 Minutes</li>
                        <li><b>Focus Areas : </b>Technology & Science</li>
                    </ul>
                    <ul>
                        <div class="liner"></div>
                        <h3>Rules & Guidelines</h3>
                        <div class="liner"></div>
                        <li>Each question provides four options, with only one correct choice</li>
                        <li>No negative scoring - give your best attempt on every question!</li>
                        <li>All answers must be submitted within the specified duration.</li>
                        <li>The Highest scorers will move forward to the next round, Visual Vault</li>
                    </ul>
                    <div class="line"></div>
                    <h1>Round 2: Visual Vault</h1>
                    <p class="txt">The grand finale of IQ Fusion – Visual Vault! This round will put your observation and recognition skills to the ultimate test. Prepare for an exciting challenge where you’ll identify logos flashed on the screen.</p>
                    <ul>
                        <div class="liner"></div>
                        <h3>Round Format</h3>
                        <div class="liner"></div>
                        <li><b>Mode : </b>Visual Quiz</li>
                        <li><b>Task : </b>Recognize and name the logos displayed</li>
                        <li><b>Time Limit : </b> 25 Minutes</li>
                        <li><b>Winner : </b>The participant with maximum correct identifications claim the title!</li>
                    </ul>
                    <ul>
                        <div class="liner"></div>
                        <h3>Rules & Guidelines</h3>
                        <div class="liner"></div>
                        <li>Each logo will appear for only a short duration.</li>
                        <li>Participants must respond verbally with the correct brand name.</li>
                        <li>Use of external help or internet is strictly prohibited.</li>
                        <li>The participant with the most correct responses will be crowned the <b>IQ Fusion Champion!</b></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right">
            <img src="../../../assets/Poster/IQ Fusion.jpg" />
            <div class="btn">
                <a href=""><button>Register Now</button></a>
            </div>
        </div>
    </main>
    <div class="line"></div>
</div>

