<footer class="footer">
    <div class="footer-header">
        <h1>Will Meet You At November 8</h1>
    </div>
    <div class="footer-section">
        <div class="event-details">
            <div class="event-logo">
                <div class="img">
                    <img src="../../../assets/Tecmate/TECMATE.png" />
                </div>
                <div class="description">
                    <p>Tecmate is a national-level symposium by the Department of CSE, New Prince Shri Bhavani College of Engineering and Technology. 🚀 It brings together students to learn, compete, and innovate through technical and non-technical events.</p>
                </div>
            </div>
            <div class="contact-details">
                <div class="mail">
                    <a href="mailto:tecmatecse@gmail.com"><fa-icon [icon]="Gmail"></fa-icon>&nbsp;<p>tecmatecse&#64;gmail.com</p></a>
                </div>
                <div class="instagram">
                    <a href="https://www.instagram.com/tecmate_2.0?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><fa-icon [icon]="Instagram"></fa-icon>&nbsp;<p>tecmate_2.0</p></a>
                </div>
            </div>
        </div>
        <div class="footer-navigation">
            <ul>
                <li routerLink="/home"><a>Home</a></li>
                <li routerLink="/about"><a>About Us</a></li>
                <li routerLink="/events"><a>Events</a></li>
                <li routerLink="/contact"><a>Contact</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-footer">
        <h6>This website is Designed using Angular by Jenovas D A - Final Year / CSE 2022 - 2026</h6>
    </div>
</footer>