<footer class="footer">
    <div class="footer-header">
        <h1>Will Meet You At September 9</h1
            >
    </div>
    <div class="event-details">
        <div class="event-logo">
            <div class="img">
                <img src="" alt="">
            </div>
            <div class="description">
                
            </div>
        </div>
    </div>
    
    <div class="contact-details">
        <div class="mail">
            
        </div>
        <div class="instagram">

        </div>
    </div>
</footer>