<app-header></app-header>
<div class="container">
    <main class="main-container">
        <div class="left">
            <div class="heading">
                <h1>Clue Xpress</h1>
            </div>
            <div class="line line-1"></div>
            <div class="description">
                <p>Participants will engage in a battle of wit, knowledge, and quick thinking through fun and challenging rounds that test their observation, vocabulary, and team coordination.</p>
            </div>
            <div class="line"></div>
            <div class="event-structure">
                <div class="fixtures">
                    <h1>Round 1: Logo Lit</h1>
                    <ul>
                        <div class="liner"></div>
                        <h3>Round Format</h3>
                        <div class="liner"></div>
                        <li>Participants will be shown images and logos, and they must identify the correct answer.</li>
                    </ul>
                    
                    <div class="line"></div>
                    <h1>Round 2: Lexi Battle</h1>
                    <p class="txt">This round combines vocabulary skills with strategy and fun challenges</p>
                    <ul>
                        <div class="liner"></div>
                        <h3>Round Format</h3>
                        <div class="liner"></div>
                        <li>Teams will pick a topic from the given list.</li>
                        <li>They will then bet against opponents on how many related words they can list within 1 minute.</li>
                        <li>If they meet their bet, they score a point; if not, the points go to the opponents.</li>
                    </ul>
                    
                    <div class="line"></div>
                    <h1>Round 3: Hint & Hunt</h1>
                    <ul>
                        <div class="liner"></div>
                        <h3>Round Format</h3>
                        <div class="liner"></div>
                        <li>Each team nominates one member as the describer and the other as the guesser.</li>
                        <li>The describer provides hints without directly stating the word, while the guesser must identify it.</li>
                        <li>The team that guesses the most words correctly wins the final round and secures the title.</li>
                    </ul>
                    <div class="line"></div>
                    <ul>
                        <div class="liner"></div>
                        <h3>Event Details</h3>
                        <div class="liner"></div>
                        <li><b>Team Requirement : </b>2 Members per team</li>
                        <li><b>Materials : </b>Bring your own pen</li>
                        <li><b>Rounds : </b>LogoLit, Lexi Battle, and Hint & Hunt</li>
                        <li><b>Preparation : </b>Participants are encouraged to sharpen their vocabulary, logical thinking, and observation skills.</li>
                    </ul>
                </div>
            </div>
            <br/>
            <br/>
            <br/>
            <div class="liner"></div>
            <p>✨ "ClueXpress – Decode the clues, express your wit, and claim your victory!"</p>
            <div class="liner"></div>
        </div>
        <div class="right">
            <img src="../../../assets/Poster/ClueXpress.jpg" />
            <div class="btn">
                <a href=""><button>Register Now</button></a>
            </div>
        </div>
    </main>
    <div class="line"></div>
</div>

