<div class="container">
    <div class="heading">
        <h1>Overview</h1>
    </div>

    <div class="event">
        <div class="event-image" data-aos="fade-right" data-aos-easing="ease-in">
            <img src="../../../assets/Tecmate/Logo.png" />
        </div>
        <div class="event-info" data-aos="fade-in" data-aos-delay="300">
            <h2><b>Tecmate 2.0</b> – National Level Technical Symposium </h2>
            <p>
                Hosted by the Department of <b>Computer Science and Engineering </b>,
                New Prince Shri Bhavani College of Engineering and Technology.
                Tecmate is a platform where innovation meets passion! This national-level symposium brings together
                brilliant minds, aspiring technologists, and future leaders to showcase their skills, share knowledge,
                and explore the latest trends in technology.
                From interactive workshops and expert sessions to challenging technical events and fun-filled
                non-technical contests, Tecmate offers something for everyone. It’s not just about competing – it’s
                about learning, collaborating, and sparking ideas that can shape tomorrow.
                Join us to innovate, inspire, and ignite your journey in the ever-evolving world of technology. 🚀
            </p>
            <div class="view-events">
                <button class="button">
                    <span><a routerLink="/about">About Us</a></span>
                </button>
            </div>
        </div>
    </div>
    <div class="college">
        <div class="header">
            <img class="newprince" src="../../../assets/College-details/College logo.png" data-aos="fade-in" />
            <h1 data-aos="fade-in" data-aos-delay="100">New Prince Shri Bhavani College of Engineering and Technology <br> ( An Autonomous
                Institution )</h1>
            <img class="naac" src="../../../assets/College-details/NAAC.png" data-aos="fade-in" data-aos-delay="200" />
        </div>
        <div class="college-content">
            <div class="college-img" data-aos="fade-in">
                <img src="../../../assets/College-details/College.jpg">
            </div>
            <div class="college-description" data-aos="fade-in" data-aos-delay="250">
                <p>
                    New Prince Shri Bhavani College of Engineering and Technology, located in Chennai, Tamil Nadu, is
                    a reputed institution dedicated to delivering quality technical education. It offers a variety of
                    undergraduate and postgraduate programs in engineering and technology, emphasizing both innovation
                    and practical learning. The college features modern infrastructure, well-equipped laboratories,
                    and experienced faculty to ensure academic excellence. With a strong focus on holistic development,
                    it actively promotes research, cultural participation, and industry collaboration to prepare
                    students for successful careers.
                </p>
            </div>
        </div>
    </div>
    <div class="department">
        <div class="department-wrapper">
            <div class="department-heading">
                <div class="logo">
                    <img src="../../../assets/College-details/NBA.png" />
                </div>
                <div class="name">
                    <h1>Department of Computer Science and Engineering</h1>
                </div>
            </div>
            <div class="department-content">
                <div class="left">
                    <div class="vision-container">
                        <div class="header-view">
                            <h2>Vision Of The Department</h2>
                        </div>
                        <div class="content">
                            <p>To be a globally recognized academic institution and thereby contribute to technological
                                and
                                socio-economic development of the society.</p>
                        </div>
                    </div>

                    <div class="gif">
                        <img src="../../../assets/Decorative/Robo Gif.gif" />
                    </div>
                </div>
                <div class="line">
                    <div class="ball ball-1"></div>
                    <div class="ball ball-2"></div>
                </div>
                <div class="right">
                    <div class="coding-gif">
                        <img src="../../../assets/Decorative/Coding Gif.gif" />
                    </div>
                    <div class="mission-container">
                        <div class="header-view">
                            <h2>Vision Of The Department</h2>
                        </div>
                        <div class="content vision">
                            <ul>
                                <li>To develop the needed resources and infrastructure and to establish a conducive
                                    ambience for the teaching – learning process.</li>
                                <li>To Engage Committed members of faculty who will infuse subject knowledge with latest
                                    teaching pedagogies</li>
                                <li>To Ignite the desire for higher learning, research and entrepreneurship and equip
                                    them to face the global challenges</li>
                                <li>To engage the alumni professionals as productive partners with the current students
                                    to help enrich and enhance their student life.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>